<div class="auth-flow">
  <h1>Create account</h1>
  
  <form [formGroup]='signUpForm'>
    <div class="alert" *ngIf="err.isError">
      *{{err.errorMessage}}
  </div>
    <div class="input-container" [ngClass]="{
      'err': firstName.invalid && (firstName.dirty || firstName.touched)
    }">
      <img
        src="assets/icons/person-24px.svg"
        alt="Chevron Right Icon"
      >
      <label>
        <input placeholder="First Name" formControlName='firstName' name="firstName" required>
      </label>
    </div>

   <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
    class="alert">
    
      *required
   
  </div>
  

    <div class="input-container" [ngClass]="{
      'err': lastName.invalid && (lastName.dirty || lastName.touched)
    }">
      <img
        src="assets/icons/person-24px.svg"
        alt="Chevron Right Icon"
      >
      <label>
        <input placeholder="Last Name" formControlName='lastName' name="lastName" required>
      </label>
    </div>

     <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
    class="alert ">
    
      *required
    
  </div>


    <div class="input-container" [ngClass]="{
      'err': email.invalid && (email.dirty || email.touched)
    }">
      <img
        src="assets/icons/mail-24px.svg"
        alt="Mail Icon"
      >
      <label>
        <input placeholder="Email Address" type="email" formControlName="email" name="email" required>
      </label>
    </div>

  <div *ngIf="email.invalid && (email.dirty || email.touched)"
    class="alert ">
    
      *required.
    
  </div>

    <div class="input-container" [ngClass]="{
      'err': password.invalid && (password.dirty || password.touched)
    }">
      <img
        src="assets/icons/lock-24px.svg"
        alt="Lock Icon"
      >
      <label>
        <input placeholder="Password" formControlName="password" type="password" name="password" required>
      </label>
    </div>
    
    <div *ngIf="password.invalid && (password.dirty || password.touched)"
    class="alert">
      *{{passwordErrors}}
  </div>

    <div class="input-container" [ngClass]="{
      'err': verifyPassword.invalid && (verifyPassword.dirty || verifyPassword.touched)
    }">
      <img
        src="assets/icons/lock-24px.svg"
        alt="Lock Icon"
      >
      <label>
        <input placeholder="Verify Password" formControlName="verifyPassword" type="password" name="verifyPassword" required>
      </label>
    </div>

    <div class = "alert" *ngIf="signUpForm.errors?.noMatch && (verifyPassword.touched || verifyPassword.dirty)">
      *your passwords do not match
    </div>

    <button type ="submit" (click)="createAccount()" [disabled]="!signUpForm.valid">
      Create Account
      <img
        src="assets/icons/chevron_right-52px.svg"
        alt="Chevron Right Icon"
      >
    </button>
  </form>
    <!--<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>-->
  <p>Already have an account? <a routerLink='/signin'>Sign In</a></p>
</div>
