div.landing-wrap {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  div.landing-container {
    display: grid;
    grid-template-columns: minmax(0, 560px) max-content;
    grid-template-rows: repeat(3, max-content) min-content;
    grid-template-areas:
      "logo auth"
      "title auth"
      "phrase auth"
      "desc auth";
    grid-column-gap: 42px;
    grid-row-gap: 16px;
    text-align: center;

    div.logo-container {
      display: flex;
      justify-content: center;
      padding: 28px 0;

      img {
        width: 100px;
        grid-area: logo;
      }
    }

    h1 {
      grid-area: title;
      font-size: 56px;
      margin: 0;
      color: #FFFFFF;

      span {
        color: #73BCFF;
      }
    }

    h3 {
      grid-area: phrase;
      font-size: 30px;
      margin: 0;
      color: #FFFFFF;
    }

    p {
      grid-area: desc;
      font-size: 24px;
      margin: 16px auto;
      color: #FFFFFF;
      line-height: 28px;
    }

    div.auth-container {
      grid-area: auth;
    }
  }
}

@media all and (max-width: 1100px) {
  div.landing-wrap {
    height: auto;
    overflow: auto;

    div.landing-container {
      display: grid;
      grid-template-columns: max-content;
      grid-template-rows: repeat(4, max-content);
      grid-template-areas: unset;

      div.logo-container {
        grid-area: unset;
        padding-top: 34px;
        padding-bottom: 16px;
      }

      h1 {
        grid-area: unset;
      }

      h3 {
        grid-area: unset;
      }

      p {
        display: none;
      }

      div.auth-container {
        grid-area: unset;
        margin: 24px 0;
      }
    }
  }
}
