<div class="sign-up-flow">
  <h1>Create account</h1>
  <form (ngSubmit)="createAccount()">
<!--    TODO: Can change colors in the future by adding a theme object for Material Design-->
<!--    TODO: Can change font if want as well-->
    <div class="input-container">
      <mat-icon>person</mat-icon>
      <label>
        <input placeholder="First Name" [(ngModel)]="firstName" name="firstName" required>
      </label>
    </div>
    <div class="input-container">
      <mat-icon>person</mat-icon>
      <label>
        <input placeholder="Last Name" [(ngModel)]="lastName" name="lastName" required>
      </label>
    </div>
    <div class="input-container">
      <mat-icon>mail</mat-icon>
      <label>
        <input placeholder="Email Address" [(ngModel)]="email" name="email" required>
      </label>
    </div>
    <div class="input-container">
      <mat-icon>lock</mat-icon>
      <label>
        <input placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
      </label>
    </div>
    <div class="input-container">
      <mat-icon>lock</mat-icon>
      <label>
        <input placeholder="Verify Password" [(ngModel)]="verifyPassword" type="password" name="verify-password" required>
      </label>
    </div>
    <button (click)="createAccount()">
      Create Account
      <mat-icon>chevron_right</mat-icon>
    </button>
  </form>
    <!--<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>-->
  <p>Already have an account? <a routerLink='/signin'>Sign In</a></p>
</div>
