<!--<div class="calendar-day-container">-->
<!--  <h1>{{day}}</h1>-->
<!--  TODO: Add a global scroll managed in calendar component-->
<div class="time-container"
  (mouseleave)="stopSelectHere()"
>
  <div
    *ngFor="let time of timeArr; index as i"
    (mousedown)="selectFromHere(i)"
    (mouseup)="stopSelectHere()"
    (mouseover)="includeSelect(i)"
    [class.selected] = "time === 1"
    class="time-option"
    [id]="i"
    [attr.data-test-id]="'calendar-item-'+dayIndex+'-'+i"
  ></div>
</div>
<!--</div>-->
