<div class="auth-flow">
  <h1>Sign In</h1>
  <div class="third-party-container">
    <button (click)="loginWithGoogle()">
      <img
        src="assets/icons/google.png"
        alt="Google Sign In"
      >
    </button>
  </div>
  <hr>
  <p>Or use your email account with us</p>
  <form [formGroup] ='signOnForm'>

    <div class="alert" *ngIf="err.isError">
        *{{err.errorMessage}}
    </div>
    <div class="input-container" [ngClass]="{
      'err': email.invalid && (email.dirty || email.touched)
    }">
      <img
        src="assets/icons/mail-24px.svg"
        alt="Mail Icon"
      >
      <label>
        <input placeholder="Email Address" formControlName='email' name="email" required>
      </label>
    </div>

    <div *ngIf="email.invalid && (email.dirty || email.touched)"
    class="alert">
     <div *ngIf="email.errors.required">
      *required
      </div>
    </div>

    <div class="input-container" [ngClass]="{
      'err': password.invalid && (password.dirty || password.touched)
    }">
      <img
        src="assets/icons/lock-24px.svg"
        alt="Lock Icon"
      >
      <label>
        <input placeholder="Password" formControlName="password" type="password" name="password" required>
      </label>
    </div>

    <div *ngIf="password.invalid && (password.dirty || password.touched)"
    class="alert">
     <div *ngIf="password.errors.required">
      *required
      </div>
    </div>

    <button (click)="login()">
      Sign In
      <img
        src="assets/icons/chevron_right-52px.svg"
        alt="Chevron Right Icon"
      >
    </button>
  </form>
  <p>Don't have an account? <a routerLink='/signup'>Create Account</a></p>
</div>
