
<mat-sidenav-container class="dashboard-container" >
  
    <mat-sidenav  mode="side" opened>
      <div class="sidenav">
        <div class="logo">
          <img src='assets/logo/miri-logo.png' alt='Miri Logo'>
        </div>
        <div class="calendar-options">
          <button class ="option" >MAIN CALENDAR</button>
          <button class ="option"(click)="toggleExpansion()">EVENT CALENDARS</button>
          <div class = "expansion-body" *ngIf="expanded">
            <div ngIf*="eventCalendars.length() == 0">No current Event Calendars</div>
          </div>
        </div>
        <div class="new-calendar">
          <button > 
            ADD EVENT
            <mat-icon class="icon">add_circle_outline</mat-icon>
            
          </button>
          <button (click)="logout()">Logout</button>
        </div>
      </div>
      
      
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
        
       <img src='assets/working.png' alt="working on it">
       <h1>Amazing things are in the process of being built :)</h1>
    </mat-sidenav-content>
  </mat-sidenav-container>
